extends layout.pug

block content
  -let total = 0;
  -let m = -1
  each task in tasks
    
    if  m < task.micro
        -total = 0
        div.card.header.name
          p.item= 'Micro'
          p.item= task.micro
        div.card.header
          p= 'Micro'
          p= 'Proceso'
          p= 'TCC'
          p= 'TE'
          p= 'TVC'
          p= 'TB'
          p= 'TT'
          p= 'TI'
          p= 'TF'

    if task.wait
      div.card.hueco
        p.item= 'Hueco'
        p.item= 'Tiempo inicio: '  + total
        p.item= 'Tiempo final: ' + task.ti


    div.card
      p.item= task.micro
      p.item= task.name 
      p.item= task.tcc
      p.item= task.te
      p.item= task.tvc
      p.item= task.tb
      p.item= task.tt - task.ti
      p.item= task.ti
      p.item= task.tt
    
    -total = task.tt
    -m = task.micro
    
  each micro in unused

    div.card.header.name
          p.item= 'Micro'
          p.item= micro
    div.card.header
          p= 'Micro'
          p= 'Proceso'
          p= 'TCC'
          p= 'TE'
          p= 'TVC'
          p= 'TB'
          p= 'TT'
          p= 'TI'
          p= 'TF'

    div.card
      p.item= micro
      p.item= '-' 
      p.item= '-'
      p.item= '-'
      p.item= '-'
      p.item= '-'
      p.item= '-'
      p.item= '0'
      p.item= '0'
      
    
   
  
  
    
        
    
  