extends layout.pug

block content

  div.header
    p= 'Micro'
    p= 'Proceso'
    p= 'TCC'
    p= 'TE'
    p= 'TVC'
    p= 'TB'
    p= 'TT'
    p= 'TI'
    p= 'TF'
  div.fake
  each task in tasks
    div.card.card-body
      p.item= task.micro
      p.item= task.name 
      p.item= task.tcc
      p.item= task.te
      p.item= task.tvc
      p.item= task.tb
      p.item= task.tt
      p.item= task.ti
      p.item= task.tt

    
   
      
    
   
  
  
    
        
    
  